<div data-frankenphp-hot-reload-preserve
     data-controller="datatable"
     data-datatable-url-value="{{ path('app_settings_structure_cohorts_data') }}"
     data-datatable-edit-url-template-value="{{ path('app_settings_structure_cohorts_edit', {id: '__ID__'}) }}"
     data-datatable-deactivate-url-template-value="{{ path('app_settings_structure_cohorts_deactivate', {id: '__ID__'}) }}"
     data-datatable-deactivate-token-value="{{ csrf_token('structure_deactivate') }}"
     data-datatable-edit-label-value="{{ 'editActionLabel'|trans }}"
     data-datatable-deactivate-label-value="{{ 'deactivateActionLabel'|trans }}"
     data-datatable-deactivate-confirm-message-value="{{ 'deactivateConfirmMessage'|trans }}"
     data-datatable-deactivate-error-message-value="{{ 'deactivateErrorMessage'|trans }}"
     data-datatable-page-length-value="10"
     data-datatable-columns-value="{{ [
         {data: 'name'},
         {data: 'slug'},
         {data: 'trackName'},
         {data: 'ldapGroupName'},
         {data: null, render: 'actions'},
     ]|json_encode }}"
     data-datatable-language-value="{{ {
         info: 'datatableInfoLabel'|trans,
         infoEmpty: 'datatableInfoEmptyLabel'|trans,
         infoFiltered: 'datatableInfoFilteredLabel'|trans,
         zeroRecords: 'datatableZeroRecordsLabel'|trans,
         processing: 'datatableProcessingLabel'|trans,
         lengthMenu: 'datatableLengthMenuLabel'|trans,
         search: 'datatableSearchLabel'|trans,
         paginate: {
             next: 'datatablePaginateNextLabel'|trans,
             previous: 'datatablePaginatePreviousLabel'|trans,
         },
     }|json_encode }}">
    <div class="form-check form-switch mb-2" data-datatable-target="includeInactiveWrapper">
        <input class="form-check-input" type="checkbox" id="cohorts-include-inactive" data-datatable-target="includeInactive" data-action="change->datatable#reload">
        <label class="form-check-label" for="cohorts-include-inactive">{{ 'showInactiveFilterLabel'|trans }}</label>
    </div>
    <div class="table-responsive">
        <table class="table table-vcenter card-table table-striped" data-datatable-target="table">
            <thead>
                <tr>
                    <th>{{ 'structureNameColumnLabel'|trans }}</th>
                    <th>{{ 'structureSlugColumnLabel'|trans }}</th>
                    <th>{{ 'structureParentTrackColumnLabel'|trans }}</th>
                    <th>{{ 'structureLdapGroupColumnLabel'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
