{% extends 'layout/app.html.twig' %}

{% block title %}{{ 'newPasswordResetPageHeading'|trans }}{% endblock %}
{% block page_title %}{{ 'newPasswordResetPageHeading'|trans }}{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="mb-3">
                    <label class="form-label" for="user">{{ 'passwordResetUserFieldLabel'|trans }}</label>
                    <select id="user" name="user" class="form-select"
                            data-controller="tom-select"
                            data-tom-select-url-value="{{ path('app_directory_passwords_user_search') }}"
                            data-tom-select-placeholder-value="{{ 'passwordResetUserSearchPlaceholder'|trans }}">
                    </select>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="{{ path('app_directory_passwords') }}" class="btn btn-link">{{ 'cancelAction'|trans }}</a>
                    {{ form_widget(form.submit) }}
                </div>
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
