{% extends 'layout/app.html.twig' %}

{% block title %}{{ 'passwordsListPageHeading'|trans }}{% endblock %}
{% block page_title %}{{ 'passwordsListPageHeading'|trans }}{% endblock %}

{% block main %}
    {# DataTables owns this subtree's DOM from here on - see templates/directory/users.html.twig's
       matching comment for why data-frankenphp-hot-reload-preserve is needed. #}
    <div class="card"
         data-frankenphp-hot-reload-preserve
         data-controller="datatable"
         data-datatable-url-value="{{ path('app_directory_passwords_data') }}"
         data-datatable-page-length-value="10"
         data-datatable-reveal-url-template-value="{{ path('app_directory_passwords_reveal', {id: '__ID__'}) }}"
         data-datatable-reveal-token-value="{{ csrf_token('directory_password_reveal') }}"
         data-datatable-reveal-label-value="{{ 'passwordRevealButtonLabel'|trans }}"
         data-datatable-reveal-error-message-value="{{ 'passwordRevealErrorMessage'|trans }}"
         data-datatable-columns-value="{{ [
             {data: 'fullName'},
             {data: 'login'},
             {data: 'statusLabel', render: 'badge', classField: 'statusClass'},
             {data: 'addedAt'},
             {render: 'reveal'},
         ]|json_encode }}"
         data-datatable-language-value="{{ {
             info: 'datatableInfoLabel'|trans,
             infoEmpty: 'datatableInfoEmptyLabel'|trans,
             infoFiltered: 'datatableInfoFilteredLabel'|trans,
             zeroRecords: 'datatableZeroRecordsLabel'|trans,
             processing: 'datatableProcessingLabel'|trans,
             lengthMenu: 'datatableLengthMenuLabel'|trans,
             search: 'datatableSearchLabel'|trans,
             paginate: {
                 next: 'datatablePaginateNextLabel'|trans,
                 previous: 'datatablePaginatePreviousLabel'|trans,
             },
         }|json_encode }}">
        <div class="card-header d-flex justify-content-end">
            <a href="{{ path('app_directory_passwords_new') }}" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                {{ 'addPasswordResetButtonLabel'|trans }}
            </a>
        </div>
        <div class="table-responsive">
            <table class="table table-vcenter card-table table-striped" data-datatable-target="table">
                <thead>
                    <tr>
                        <th>{{ 'userFullNameColumnLabel'|trans }}</th>
                        <th>{{ 'userLoginColumnLabel'|trans }}</th>
                        <th>{{ 'userStatusColumnLabel'|trans }}</th>
                        <th>{{ 'userAddedAtColumnLabel'|trans }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}
