{% extends 'layout/app.html.twig' %}

{% block title %}{{ 'newUserPageHeading'|trans }}{% endblock %}
{% block page_title %}{{ 'newUserPageHeading'|trans }}{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.firstname) }}</div>
                    <div class="col-md-6">{{ form_row(form.lastname) }}</div>
                    <div class="col-md-6">{{ form_row(form.userType) }}</div>
                    <div class="col-md-6">{{ form_row(form.userGroups) }}</div>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="{{ path('app_directory_users') }}" class="btn btn-link">{{ 'cancelAction'|trans }}</a>
                    {{ form_widget(form.submit) }}
                </div>
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
