{% macro state_badge(state) %}
    {% if state == 0 %}
        <span class="badge bg-secondary-lt">{{ 'queueStatusPending'|trans }}</span>
    {% elseif state == 1 %}
        <span class="badge bg-blue-lt">{{ 'queueStatusProcessing'|trans }}</span>
    {% elseif state == 2 %}
        <span class="badge bg-green-lt">{{ 'queueStatusSucceeded'|trans }}</span>
    {% elseif state == 3 %}
        <span class="badge bg-red-lt">{{ 'queueStatusFailed'|trans }}</span>
    {% else %}
        <span class="badge bg-secondary-lt">{{ 'queueStatusUnknown'|trans }}</span>
    {% endif %}
{% endmacro %}
