{% extends 'layout/app.html.twig' %}

{% block title %}{{ 'groupsListPageHeading'|trans }}{% endblock %}
{% block page_title %}{{ 'groupsListPageHeading'|trans }}{% endblock %}

{% block main %}
    {# DataTables owns this subtree's DOM from here on (AJAX-rendered rows, pager, wrapper markup);
       tell FrankenPHP's dev hot-reload morph to leave it alone so it doesn't get reverted to the
       static empty-table markup (and the datatable Stimulus controller re-initialized) on every
       file save. See https://frankenphp.dev/docs/hot-reload/ #}
    <div class="card" data-frankenphp-hot-reload-preserve>
        <div class="table-responsive">
            <table class="table table-vcenter card-table"
                   data-controller="datatable"
                   data-datatable-url-value="{{ path('app_annuaire_groupes_data') }}"
                   data-datatable-page-length-value="10"
                   data-datatable-columns-value="{{ [
                       {data: 'name'},
                       {data: 'description'},
                       {data: 'statusLabel', render: 'badge', classField: 'statusClass'},
                       {data: 'addedAt'},
                       {data: 'addedBy'},
                   ]|json_encode }}"
                   data-datatable-language-value="{{ {
                       info: 'datatableInfoLabel'|trans,
                       infoEmpty: 'datatableInfoEmptyLabel'|trans,
                       zeroRecords: 'datatableZeroRecordsLabel'|trans,
                       processing: 'datatableProcessingLabel'|trans,
                       paginate: {
                           first: 'datatablePaginateFirstLabel'|trans,
                           last: 'datatablePaginateLastLabel'|trans,
                           next: 'datatablePaginateNextLabel'|trans,
                           previous: 'datatablePaginatePreviousLabel'|trans,
                       },
                   }|json_encode }}">
                <thead>
                    <tr>
                        <th>{{ 'groupNameColumnLabel'|trans }}</th>
                        <th>{{ 'groupDescriptionColumnLabel'|trans }}</th>
                        <th>{{ 'groupStatusColumnLabel'|trans }}</th>
                        <th>{{ 'groupAddedAtColumnLabel'|trans }}</th>
                        <th>{{ 'groupAddedByColumnLabel'|trans }}</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}
