{% extends 'layout/app.html.twig' %}

{% block title %}{{ 'usersListPageHeading'|trans }}{% endblock %}
{% block page_title %}{{ 'usersListPageHeading'|trans }}{% endblock %}

{% block main %}
    <div class="card">
        <div class="table-responsive">
            <table class="table table-vcenter card-table"
                   data-controller="datatable"
                   data-datatable-url-value="{{ path('app_annuaire_utilisateurs_data') }}"
                   data-datatable-page-length-value="10"
                   data-datatable-columns-value="{{ [
                       {data: 'fullName'},
                       {data: 'userType'},
                       {data: 'groups', render: 'badges'},
                       {data: 'actionType'},
                       {data: 'login'},
                       {data: 'statusLabel', render: 'badge', classField: 'statusClass'},
                       {data: 'addedAt'},
                   ]|json_encode }}"
                   data-datatable-language-value="{{ {
                       info: 'datatableInfoLabel'|trans,
                       infoEmpty: 'datatableInfoEmptyLabel'|trans,
                       zeroRecords: 'datatableZeroRecordsLabel'|trans,
                       processing: 'datatableProcessingLabel'|trans,
                       paginate: {
                           first: 'datatablePaginateFirstLabel'|trans,
                           last: 'datatablePaginateLastLabel'|trans,
                           next: 'datatablePaginateNextLabel'|trans,
                           previous: 'datatablePaginatePreviousLabel'|trans,
                       },
                   }|json_encode }}">
                <thead>
                    <tr>
                        <th>{{ 'userFullNameColumnLabel'|trans }}</th>
                        <th>{{ 'userTypeColumnLabel'|trans }}</th>
                        <th>{{ 'userGroupsColumnLabel'|trans }}</th>
                        <th>{{ 'userActionColumnLabel'|trans }}</th>
                        <th>{{ 'userLoginColumnLabel'|trans }}</th>
                        <th>{{ 'userStatusColumnLabel'|trans }}</th>
                        <th>{{ 'userAddedAtColumnLabel'|trans }}</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}
