{% extends 'layout/app.html.twig' %}

{% block title %}{{ 'usersListPageHeading'|trans }}{% endblock %}
{% block page_title %}{{ 'usersListPageHeading'|trans }}{% endblock %}

{% block page_actions %}
    <a href="{{ path('app_annuaire_utilisateurs_new') }}" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
        {{ 'addUserButtonLabel'|trans }}
    </a>
{% endblock %}

{% block main %}
    {# DataTables owns this subtree's DOM from here on (AJAX-rendered rows, pager, wrapper markup);
       tell FrankenPHP's dev hot-reload morph to leave it alone so it doesn't get reverted to the
       static empty-table markup (and the datatable Stimulus controller re-initialized) on every
       file save. See https://frankenphp.dev/docs/hot-reload/ #}
    <div class="card"
         data-frankenphp-hot-reload-preserve
         data-controller="datatable"
         data-datatable-url-value="{{ path('app_annuaire_utilisateurs_data') }}"
         data-datatable-page-length-value="10"
         data-datatable-columns-value="{{ [
             {data: 'fullName'},
             {data: 'userType'},
             {data: 'groups', render: 'badges'},
             {data: 'actionType'},
             {data: 'login'},
             {data: 'statusLabel', render: 'badge', classField: 'statusClass'},
             {data: 'addedAt'},
         ]|json_encode }}"
         data-datatable-language-value="{{ {
             info: 'datatableInfoLabel'|trans,
             infoEmpty: 'datatableInfoEmptyLabel'|trans,
             zeroRecords: 'datatableZeroRecordsLabel'|trans,
             processing: 'datatableProcessingLabel'|trans,
             lengthMenu: 'datatableLengthMenuLabel'|trans,
             paginate: {
                 first: 'datatablePaginateFirstLabel'|trans,
                 last: 'datatablePaginateLastLabel'|trans,
                 next: 'datatablePaginateNextLabel'|trans,
                 previous: 'datatablePaginatePreviousLabel'|trans,
             },
         }|json_encode }}">
        <div class="table-responsive">
            <table class="table table-vcenter card-table table-striped" data-datatable-target="table">
                <thead>
                    <tr>
                        <th>{{ 'userFullNameColumnLabel'|trans }}</th>
                        <th>{{ 'userTypeColumnLabel'|trans }}</th>
                        <th>{{ 'userGroupsColumnLabel'|trans }}</th>
                        <th>{{ 'userActionColumnLabel'|trans }}</th>
                        <th>{{ 'userLoginColumnLabel'|trans }}</th>
                        <th>{{ 'userStatusColumnLabel'|trans }}</th>
                        <th>{{ 'userAddedAtColumnLabel'|trans }}</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}
