{% extends 'layout/app.html.twig' %}

{% block title %}{{ 'lendLaptopPageHeading'|trans }} - {{ laptop.assetTag }}{% endblock %}
{% block page_title %}{{ 'lendLaptopPageHeading'|trans }} - {{ laptop.assetTag }}{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-body">
            <div class="mb-3">
                <a href="{{ path('app_laptops') }}" class="btn btn-link ps-0">{{ 'cancelAction'|trans }}</a>
            </div>
            <div data-frankenphp-hot-reload-preserve
                 data-controller="datatable"
                 data-datatable-url-value="{{ path('app_laptops_lend_data', {id: laptop.id}) }}"
                 data-datatable-select-url-template-value="{{ path('app_laptops_lend_confirm', {id: laptop.id, userId: '__ID__'}) }}"
                 data-datatable-select-label-value="{{ 'selectBorrowerButtonLabel'|trans }}"
                 data-datatable-page-length-value="10"
                 data-datatable-columns-value="{{ [
                     {data: 'fullName'},
                     {data: 'username'},
                     {data: 'email'},
                     {data: null, render: 'select'},
                 ]|json_encode }}"
                 data-datatable-language-value="{{ {
                     info: 'datatableInfoLabel'|trans,
                     infoEmpty: 'datatableInfoEmptyLabel'|trans,
                     infoFiltered: 'datatableInfoFilteredLabel'|trans,
                     zeroRecords: 'datatableZeroRecordsLabel'|trans,
                     processing: 'datatableProcessingLabel'|trans,
                     lengthMenu: 'datatableLengthMenuLabel'|trans,
                     search: 'datatableSearchLabel'|trans,
                     paginate: {
                         next: 'datatablePaginateNextLabel'|trans,
                         previous: 'datatablePaginatePreviousLabel'|trans,
                     },
                 }|json_encode }}">
                <div class="table-responsive">
                    <table class="table table-vcenter card-table table-striped" data-datatable-target="table">
                        <thead>
                            <tr>
                                <th>{{ 'userFullNameColumnLabel'|trans }}</th>
                                <th>{{ 'userLoginColumnLabel'|trans }}</th>
                                <th>{{ 'accountEmailLabel'|trans }}</th>
                                <th class="w-1"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
