{% extends 'layout/app.html.twig' %}

{% block title %}{{ 'lendLaptopPageHeading'|trans }} - {{ laptop.assetTag }}{% endblock %}
{% block page_title %}{{ 'lendLaptopPageHeading'|trans }} - {{ laptop.assetTag }}{% endblock %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <dl class="row border-bottom pb-3 mb-3">
                        <dt class="col-4">{{ 'laptopAssetTagColumnLabel'|trans }}</dt>
                        <dd class="col-8">
                            {{ laptop.assetTag }}
                            <span class="badge bg-green-lt ms-1">{{ 'laptopStatusAvailableLabel'|trans }}</span>
                        </dd>
                        {% if laptop.brand or laptop.model %}
                            <dt class="col-4">{{ 'laptopDeviceColumnLabel'|trans }}</dt>
                            <dd class="col-8">{{ [laptop.brand, laptop.model]|filter(v => v)|join(' ') }}</dd>
                        {% endif %}
                    </dl>
                    {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <div class="mb-3">
                            <label class="form-label" for="borrower">{{ 'laptopBorrowerColumnLabel'|trans }}</label>
                            <select id="borrower" name="borrower" class="form-select"
                                    data-controller="tom-select"
                                    data-tom-select-url-value="{{ path('app_laptops_lend_candidates_search', {id: laptop.id}) }}"
                                    data-tom-select-placeholder-value="{{ 'laptopLoanBorrowerSearchPlaceholder'|trans }}"></select>
                        </div>
                        {{ form_row(form.dueAt) }}
                        {{ form_row(form.lentStateNotes) }}
                        <div class="d-flex justify-content-between">
                            <a href="{{ path('app_laptops') }}" class="btn btn-link">{{ 'cancelAction'|trans }}</a>
                            {{ form_widget(form.submit) }}
                        </div>
                        {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
