{% extends 'layout/app.html.twig' %}

{% block title %}{{ 'returnLaptopPageHeading'|trans }} - {{ laptop.assetTag }}{% endblock %}
{% block page_title %}{{ 'returnLaptopPageHeading'|trans }} - {{ laptop.assetTag }}{% endblock %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-4">{{ 'laptopAssetTagColumnLabel'|trans }}</dt>
                        <dd class="col-8">{{ laptop.assetTag }}</dd>
                        <dt class="col-4">{{ 'laptopBorrowerColumnLabel'|trans }}</dt>
                        <dd class="col-8">{{ loan.borrower.displayName ?? loan.borrower.username }}</dd>
                        <dt class="col-4">{{ 'laptopLentAtColumnLabel'|trans }}</dt>
                        <dd class="col-8">{{ loan.lentAt|date('d/m/Y H:i') }}</dd>
                        <dt class="col-4">{{ 'laptopLentStateNotesColumnLabel'|trans }}</dt>
                        <dd class="col-8">{{ loan.lentStateNotes }}</dd>
                    </dl>
                    {{ form_start(form) }}
                        {{ form_errors(form) }}
                        {{ form_row(form.returnCondition) }}
                        {{ form_row(form.returnStateNotes) }}
                        <div class="d-flex justify-content-between">
                            <a href="{{ path('app_laptops') }}" class="btn btn-link">{{ 'cancelAction'|trans }}</a>
                            {{ form_widget(form.submit) }}
                        </div>
                        {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
