{% extends 'layout/app.html.twig' %}

{% block title %}{{ (isEdit ? 'editFinancialItemPageHeading' : 'newFinancialItemPageHeading')|trans }} - {{ program.shortName }}{% endblock %}
{% block page_title %}{{ (isEdit ? 'editFinancialItemPageHeading' : 'newFinancialItemPageHeading')|trans }} - {{ program.shortName }}{% endblock %}

{% block main %}
    <div class="card" data-controller="financial-item-cost" data-financial-item-cost-costs-value="{{ costsByLessonTypeId|json_encode }}">
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label">{{ 'financialItemSourceColumnLabel'|trans }}</label>
                        <div class="form-control-plaintext">{{ source.labelKey|trans }}</div>
                    </div>
                    <div class="col-md-6">{{ form_row(form.type) }}</div>
                    <div class="col-12">{{ form_row(form.title) }}</div>
                    {% if form.lessonType is defined %}
                        <div class="col-md-6">{{ form_row(form.lessonType, {attr: {'data-financial-item-cost-target': 'lessonType', 'data-action': 'change->financial-item-cost#applyDefault'}}) }}</div>
                    {% endif %}
                    {% if form.quantity is defined %}
                        <div class="col-md-6">{{ form_row(form.quantity) }}</div>
                    {% endif %}
                    <div class="col-md-6">{{ form_row(form.value, {attr: {'data-financial-item-cost-target': 'value'}}) }}</div>
                    <div class="col-12">{{ form_row(form.description) }}</div>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="{{ path('app_program_settings_financial', {id: program.id}) }}" class="btn btn-link">{{ 'cancelAction'|trans }}</a>
                    {{ form_widget(form.submit, {'label': isEdit ? 'submitEditAction' : 'submitCreateAction'}) }}
                </div>
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
