{% extends 'layout/app.html.twig' %}

{% block title %}{{ 'gradebookPageHeading'|trans }} - {{ program.shortName }}{% endblock %}

{% block page_breadcrumb %}
    {% include '_breadcrumb.html.twig' with {segments: [
        {label: 'homeNavLabel'|trans, url: path('app_home')},
        {label: program.shortName, url: path('app_program_students', {id: program.id})},
        {label: 'gradebookNavLabel'|trans, url: app.request.requestUri},
    ]} %}
{% endblock %}
{% block page_title %}{{ 'gradebookPageHeading'|trans }} - {{ program.shortName }}{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-body text-secondary">{{ 'gradebookEmptyStateMessage'|trans }}</div>
    </div>
{% endblock %}
