{% extends 'layout/app.html.twig' %}

{% block title %}{{ 'internshipEvaluatePageHeading'|trans }} — {{ tutorLink.student.displayName ?? tutorLink.student.username }}{% endblock %}
{% block page_title %}{{ 'internshipEvaluatePageHeading'|trans }} — {{ tutorLink.student.displayName ?? tutorLink.student.username }} ({{ period.name }}){% endblock %}

{% block main %}
    {{ form_start(form) }}
        {{ form_errors(form) }}

        {% include 'internship_tutor/_evaluation_form_fields.html.twig' %}

        <div class="d-flex justify-content-between">
            <a href="{{ path('app_program_internship_tutors_evaluations', {id: program.id}) }}" class="btn btn-link">{{ 'cancelAction'|trans }}</a>
            {{ form_widget(form.submit) }}
        </div>
        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
