{% extends 'layout/app.html.twig' %}

{% block title %}{{ 'quizLiveResultPageHeading'|trans({'%name%': session.quizInstance.name}) }}{% endblock %}

{% block page_breadcrumb %}
    {% include '_breadcrumb.html.twig' with {segments: [
        {label: 'homeNavLabel'|trans, url: path('app_home')},
        {label: 'programQuizNavLabel'|trans, url: path('app_program_quiz', {id: program.id})},
        {label: 'quizLiveHistoryPageHeading'|trans, url: path('app_program_quiz_live_history', {id: program.id})},
        {label: session.quizInstance.name, url: app.request.requestUri},
    ]} %}
{% endblock %}
{% block page_title %}{{ 'quizLiveResultPageHeading'|trans({'%name%': session.quizInstance.name}) }}{% endblock %}

{% block main %}
    <div class="card">
        <div class="table-responsive">
            <table class="table table-vcenter card-table">
                <thead>
                    <tr>
                        <th>{{ 'quizLiveResultRankColumnLabel'|trans }}</th>
                        <th>{{ 'quizLiveResultParticipantColumnLabel'|trans }}</th>
                        <th>{{ 'quizLiveResultScoreColumnLabel'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for participant in ranked %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ participant.displayName }}</td>
                            <td class="fw-bold">{{ participant.score }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3" class="text-secondary">{{ 'quizLiveHistoryEmptyMessage'|trans }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
