{% extends 'layout/app.html.twig' %}

{% block title %}{{ (isEdit ? 'editSkillPageHeading' : 'newSkillPageHeading')|trans }} - {{ skillGroup.label }}{% endblock %}
{% block page_title %}{{ (isEdit ? 'editSkillPageHeading' : 'newSkillPageHeading')|trans }} - {{ skillGroup.label }}{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.label) }}</div>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="{{ path('app_program_settings_skill_groups_skills', {id: program.id, groupId: skillGroup.id}) }}" class="btn btn-link">{{ 'cancelAction'|trans }}</a>
                    {{ form_widget(form.submit, {'label': isEdit ? 'submitEditAction' : 'submitCreateAction'}) }}
                </div>
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
