{% extends 'layout/app.html.twig' %}

{% block title %}{{ 'programTimetablePageHeading'|trans }} - {{ program.shortName }}{% endblock %}
{% block page_title %}{{ 'programTimetablePageHeading'|trans }} - {{ program.shortName }}{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-body">
            <div class="cm-calendar"
                 data-frankenphp-hot-reload-preserve
                 data-controller="lesson-timetable"
                 data-lesson-timetable-feed-url-value="{{ path('app_program_timetable_feed', {id: program.id}) }}"
                 data-lesson-timetable-editable-value="false">
            </div>
            {% include 'program/_timetable_legend.html.twig' %}
        </div>
    </div>
{% endblock %}
