{% extends 'layout/app.html.twig' %}

{% block title %}{{ (isEdit ? 'editTopicPageHeading' : 'newTopicPageHeading')|trans }} - {{ program.shortName }}{% endblock %}
{% block page_title %}{{ (isEdit ? 'editTopicPageHeading' : 'newTopicPageHeading')|trans }} - {{ program.shortName }}{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.name) }}</div>
                    <div class="col-md-6">{{ form_row(form.topicGroup) }}</div>
                    <div class="col-md-6">{{ form_row(form.teacher) }}</div>
                    <div class="col-md-4">{{ form_row(form.targetCmHours) }}</div>
                    <div class="col-md-4">{{ form_row(form.targetTdHours) }}</div>
                    <div class="col-md-4">{{ form_row(form.targetTpHours) }}</div>
                    <div class="col-12">{{ form_row(form.description) }}</div>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="{{ path('app_program_timetable_settings_topics', {id: program.id}) }}" class="btn btn-link">{{ 'cancelAction'|trans }}</a>
                    {{ form_widget(form.submit, {'label': isEdit ? 'submitEditAction' : 'submitCreateAction'}) }}
                </div>
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
