{{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="card-body">
        <div class="mb-4">
            <h3 class="card-title">{{ 'internshipFormationCenterGeneralSectionHeading'|trans }}</h3>
            {{ form_row(form.generalInfo) }}
        </div>
        <hr class="my-4">
        <div class="row row-cards">
            <div class="col-md-6">
                <h3 class="card-title">{{ 'internshipFormationCenterDirectorSectionHeading'|trans }}</h3>
                <div class="row">
                    <div class="col-sm-6">{{ form_row(form.directorFirstName) }}</div>
                    <div class="col-sm-6">{{ form_row(form.directorLastName) }}</div>
                    <div class="col-sm-6">{{ form_row(form.directorEmail) }}</div>
                    <div class="col-sm-6">{{ form_row(form.directorPhone) }}</div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="card-title">{{ 'internshipFormationCenterCampusDirectorSectionHeading'|trans }}</h3>
                <div class="row">
                    <div class="col-sm-6">{{ form_row(form.campusDirectorFirstName) }}</div>
                    <div class="col-sm-6">{{ form_row(form.campusDirectorLastName) }}</div>
                    <div class="col-sm-6">{{ form_row(form.campusDirectorEmail) }}</div>
                    <div class="col-sm-6">{{ form_row(form.campusDirectorPhone) }}</div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="card-title">{{ 'internshipFormationCenterAlternanceManagerSectionHeading'|trans }}</h3>
                <div class="row">
                    <div class="col-sm-6">{{ form_row(form.alternanceManagerFirstName) }}</div>
                    <div class="col-sm-6">{{ form_row(form.alternanceManagerLastName) }}</div>
                    <div class="col-sm-6">{{ form_row(form.alternanceManagerEmail) }}</div>
                    <div class="col-sm-6">{{ form_row(form.alternanceManagerPhone) }}</div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="card-title">{{ 'internshipFormationCenterHandicapReferentSectionHeading'|trans }}</h3>
                <div class="row">
                    <div class="col-sm-6">{{ form_row(form.handicapReferentFirstName) }}</div>
                    <div class="col-sm-6">{{ form_row(form.handicapReferentLastName) }}</div>
                    <div class="col-sm-6">{{ form_row(form.handicapReferentEmail) }}</div>
                    <div class="col-sm-6">{{ form_row(form.handicapReferentPhone) }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-end">
        {{ form_widget(form.submit) }}
    </div>
    {{ form_rest(form) }}
{{ form_end(form) }}
