{% extends 'layout/app.html.twig' %}

{% block title %}{{ (isEdit ? 'editProgramPageHeading' : 'newProgramPageHeading')|trans }}{% endblock %}
{% block page_title %}{{ (isEdit ? 'editProgramPageHeading' : 'newProgramPageHeading')|trans }}{% endblock %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                        {{ form_errors(form) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.shortName) }}
                        {{ form_row(form.cohort) }}
                        {{ form_row(form.schoolYear) }}
                        {{ form_row(form.options) }}
                        {{ form_row(form.modalities) }}
                        {{ form_row(form.timetableManagementEnabled) }}
                        {{ form_row(form.financialManagementEnabled) }}
                        {{ form_row(form.internshipManagementEnabled) }}
                        {{ form_row(form.assignmentManagementEnabled) }}
                        <div class="d-flex justify-content-between">
                            <a href="{{ path('app_settings_structure') }}" class="btn btn-link">{{ 'cancelAction'|trans }}</a>
                            {{ form_widget(form.submit) }}
                        </div>
                        {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
