{% extends 'layout/app.html.twig' %}

{% block title %}{{ (isEdit ? 'editSectionPageHeading' : 'newSectionPageHeading')|trans }}{% endblock %}
{% block page_title %}{{ (isEdit ? 'editSectionPageHeading' : 'newSectionPageHeading')|trans }}{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.name) }}</div>
                    <div class="col-md-6">{{ form_row(form.ldapGroup) }}</div>
                    <div class="col-md-6">
                        {{ form_row(form.icon, {
                            attr: {
                                'data-controller': 'icon-picker',
                                'data-icon-picker-catalog-url-value': asset('icons/tabler-icons-catalog.json'),
                                'data-icon-picker-sprite-url-value': asset('icons/tabler-sprite.svg'),
                                'data-icon-picker-placeholder-value': 'structureIconPickerPlaceholder'|trans,
                            }
                        }) }}
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="{{ path('app_settings_structure_sections') }}" class="btn btn-link">{{ 'cancelAction'|trans }}</a>
                    {{ form_widget(form.submit, {'label': isEdit ? 'submitEditAction' : 'submitCreateAction'}) }}
                </div>
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
