{{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row g-4 align-items-start">
        <div class="col-12 col-lg-6 d-flex flex-column gap-3">
            <div class="cm-subhead">
                <div class="cm-subhead__title">{{ 'internshipLegalNameDefaultSectionTitle'|trans }}</div>
                <div class="cm-subhead__hint">{{ 'internshipLegalNameDefaultSectionHint'|trans }}</div>
            </div>
            <div style="max-width: 420px;">
                {{ form_row(form.legalName) }}
            </div>
            <div class="cm-note">
                <span class="cm-note__icon">i</span>
                <div>{{ 'internshipLegalNamePriorityNoteText'|trans|raw }}</div>
            </div>
        </div>

        {% if program.options is not empty %}
            <div class="col-12 col-lg-6 d-flex flex-column gap-2">
                <div class="cm-subhead">
                    <div class="cm-subhead__title">{{ 'internshipOptionLegalNamesSectionTitle'|trans }}</div>
                    <div class="cm-subhead__hint">{{ 'internshipOptionLegalNamesHelpText'|trans }}</div>
                </div>
                {% for option in program.options %}
                    <div class="cm-optionrow">
                        <div>
                            <div class="cm-optionrow__name">{{ option.name }}</div>
                            <div class="cm-optionrow__sub">{{ 'optionShortNameSubLabel'|trans({'%shortName%': option.shortName}) }}</div>
                        </div>
                        <input type="text" class="form-control" name="legalNames[{{ option.id }}]" placeholder="{{ form.legalName.vars.value ?: program.name }}" value="{{ legalNamesByOptionId[option.id] ?? '' }}">
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="cm-actionbar">
        {% include '_last_modified_meta.html.twig' with {entity: info} %}
        <div class="cm-actionbar__buttons">
            <a href="{{ path('app_program_internship_tutors', {id: program.id}) }}" class="btn btn-link">{{ 'cancelAction'|trans }}</a>
            {{ form_widget(form.submit) }}
        </div>
    </div>
    {{ form_rest(form) }}
{{ form_end(form) }}
