{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="d-flex flex-column gap-2">
        <div class="cm-subhead">
            <div class="cm-subhead__title">{{ 'internshipExamModalityDefaultSectionTitle'|trans }}</div>
            <div class="cm-subhead__hint">{{ 'internshipExamModalityDefaultSectionHint'|trans }}</div>
        </div>
        {{ form_errors(form.examModalityText) }}
        {{ form_widget(form.examModalityText, {attr: {
            rows: 5,
            class: 'd-none',
            'data-controller': 'hugerte-editor',
            'data-hugerte-editor-height-value': 160,
        }}) }}
    </div>

    {% if program.options is not empty %}
        <div class="d-flex flex-column gap-2 mt-4">
            <div class="cm-subhead">
                <div class="cm-subhead__title">{{ 'internshipOptionExamModalitiesSectionTitle'|trans }}</div>
                <div class="cm-subhead__hint">{{ 'internshipOptionExamModalitiesHelpText'|trans }}</div>
            </div>
            {% for option in program.options %}
                {% set optionText = examModalitiesByOptionId[option.id] ?? '' %}
                <div class="cm-editorblock" data-controller="editorblock" data-editorblock-height-value="310">
                    <div class="cm-editorblock__head">
                        <div>
                            <div class="cm-editorblock__name">{{ option.name }}</div>
                            <div class="cm-editorblock__sub">{{ 'optionShortNameSubLabel'|trans({'%shortName%': option.shortName}) }}</div>
                        </div>
                    </div>
                    <div class="cm-editorblock__body{{ '' == optionText ? ' d-none' }}" data-editorblock-target="body">
                        <textarea class="form-control d-none" rows="8" name="examModalities[{{ option.id }}]"
                                  {% if '' != optionText %}data-controller="hugerte-editor" data-hugerte-editor-height-value="310"{% endif %}
                                  data-editorblock-target="textarea"
                        >{{ optionText }}</textarea>
                    </div>
                    <div class="cm-editorblock__empty{{ '' != optionText ? ' d-none' }}" data-editorblock-target="empty">
                        <span class="cm-editorblock__empty-icon">&uarr;</span>
                        {{ 'internshipExamModalityEmptyStateText'|trans }}
                        <button type="button" class="cm-editorblock__customize" data-action="editorblock#customize">{{ 'internshipCustomizeAction'|trans }}</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="cm-actionbar">
        {% include '_last_modified_meta.html.twig' with {entity: info} %}
        <div class="cm-actionbar__buttons">
            <a href="{{ path('app_program_internship_tutors', {id: program.id}) }}" class="btn btn-link">{{ 'cancelAction'|trans }}</a>
            {{ form_widget(form.submit) }}
        </div>
    </div>
    {{ form_rest(form) }}
{{ form_end(form) }}
