<!DOCTYPE html>
<html lang="{{ app.request.locale }}" data-bs-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <title>{% block title %}Institution Beaupeyrat{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon-32x32.png') }}" sizes="32x32">
        <link rel="apple-touch-icon" href="{{ asset('images/apple-touch-icon.png') }}">

        {% block stylesheets %}
            <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
            <link rel="stylesheet" href="{{ asset('tabler/css/tabler.min.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script src="{{ asset('tabler/js/tabler.min.js') }}" defer></script>
        {% endblock %}

        {% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}
        {% if frankenphpHotReload %}
        <meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">
        <script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
        <script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
        {% endif %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
