<div class="d-print-none">
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="row row-cards">
            <div class="col-md-3">
                {{ form_row(form.startDay) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.endDay) }}
            </div>
            <div class="col-md-2 mb-3">
                <div class="form-label">&nbsp;</div>
                {{ form_widget(form.submit, {attr: {class: 'form-control'}}) }}
            </div>
        </div>
        {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
{% if invoicingRows is not empty %}
    <div class="table-responsive">
        <table class="table table-vcenter card-table table-striped">
            <thead>
                <tr>
                    <th>{{ 'invoicingTeacherColumnLabel'|trans }}</th>
                    <th>{{ 'invoicingVolumeColumnLabel'|trans }}</th>
                    <th>{{ 'invoicingDetailColumnLabel'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for row in invoicingRows %}
                    <tr>
                        <td>{{ row.teacherName }}</td>
                        <td>{{ row.volume|number_format(2, ',', ' ') }}</td>
                        <td>
                            <a class="btn btn-ghost-info btn-sm d-print-none" data-bs-toggle="modal" href="#invoicing-detail-{{ loop.index }}" role="button">
                                {{ 'invoicingSeeDetailButtonLabel'|trans }}
                            </a>
                            {# Printing a page doesn't open modals, so the detail is also rendered inline (hidden on screen) for that case. #}
                            <div class="d-none d-print-block">
                                {% for line in row.detail %}
                                    {{ line }}<br>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% for row in invoicingRows %}
        <div class="modal modal-blur fade d-print-none" id="invoicing-detail-{{ loop.index }}" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ 'invoicingDetailModalTitle'|trans({'%teacherName%': row.teacherName}) }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul class="mb-0">
                            {% for line in row.detail %}
                                <li>{{ line }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
