{% extends 'layout/app.html.twig' %}

{% block title %}{{ 'messagesPageHeading'|trans }}{% endblock %}
{% block page_title %}{{ 'messagesPageHeading'|trans }}{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a href="{{ path('app_messages') }}" class="nav-link {{ folder == 'inbox' ? 'active' }}">{{ 'messagesInboxTabLabel'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_messages_sent') }}" class="nav-link {{ folder == 'sent' ? 'active' }}">{{ 'messagesSentTabLabel'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_messages_archived') }}" class="nav-link {{ folder == 'archived' ? 'active' }}">{{ 'messagesArchivedTabLabel'|trans }}</a>
                </li>
            </ul>
            <div class="ms-auto">
                <a href="{{ path('app_messages_new') }}" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                    {{ 'messageComposeAction'|trans }}
                </a>
            </div>
        </div>
        <div class="card-body"
             data-controller="datatable"
             data-datatable-url-value="{{ path('app_messages_data', {folder: folder}) }}"
             data-datatable-page-length-value="15"
             data-datatable-searching-value="false"
             data-datatable-columns-value="{{ [
                 {data: 'subject', render: 'html'},
                 {data: 'counterpart'},
                 {data: 'lastMessageAt'},
                 {data: 'readCount'},
             ]|json_encode }}"
             data-datatable-language-value="{{ {
                 info: 'datatableInfoLabel'|trans,
                 infoEmpty: 'datatableInfoEmptyLabel'|trans,
                 infoFiltered: 'datatableInfoFilteredLabel'|trans,
                 zeroRecords: 'datatableZeroRecordsLabel'|trans,
                 processing: 'datatableProcessingLabel'|trans,
                 lengthMenu: 'datatableLengthMenuLabel'|trans,
                 search: 'datatableSearchLabel'|trans,
                 paginate: {
                     next: 'datatablePaginateNextLabel'|trans,
                     previous: 'datatablePaginatePreviousLabel'|trans,
                 },
             }|json_encode }}">
            <div class="table-responsive">
                <table class="table table-vcenter card-table table-striped" data-datatable-target="table">
                    <thead>
                        <tr>
                            <th>{{ 'messageSubjectColumnLabel'|trans }}</th>
                            <th>{{ (folder == 'sent' ? 'messageToColumnLabel' : 'messageFromColumnLabel')|trans }}</th>
                            <th>{{ 'messageDateColumnLabel'|trans }}</th>
                            <th>{{ 'messageReadCountColumnLabel'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
