<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
        {{ 'addFinancialItemButtonLabel'|trans }}
    </button>
    <div class="dropdown-menu dropdown-menu-end">
        <a href="{{ path('app_program_settings_financial_items_new_lesson', {id: program.id}) }}" class="dropdown-item">{{ 'addFinancialItemLessonMenuLabel'|trans }}</a>
        <a href="{{ path('app_program_settings_financial_items_new_student', {id: program.id}) }}" class="dropdown-item">{{ 'addFinancialItemStudentMenuLabel'|trans }}</a>
        <a href="{{ path('app_program_settings_financial_items_new_manual', {id: program.id}) }}" class="dropdown-item">{{ 'addFinancialItemManualMenuLabel'|trans }}</a>
    </div>
</div>
