<div data-frankenphp-hot-reload-preserve
     data-controller="datatable"
     data-datatable-url-value="{{ path('app_program_settings_students_data', {id: program.id}) }}"
     {% if program.options is not empty %}
     data-datatable-edit-url-template-value="{{ path('app_program_settings_students_options', {id: program.id, userId: '__ID__'}) }}"
     data-datatable-edit-label-value="{{ 'assignOptionsActionLabel'|trans }}"
     {% endif %}
     data-datatable-remove-url-template-value="{{ path('app_program_settings_students_remove_submit', {id: program.id, userId: '__ID__'}) }}"
     data-datatable-remove-token-value="{{ csrf_token('program_settings_remove') }}"
     data-datatable-remove-label-value="{{ 'removeActionLabel'|trans }}"
     data-datatable-remove-confirm-message-value="{{ 'removeConfirmMessage'|trans }}"
     data-datatable-remove-error-message-value="{{ 'removeErrorMessage'|trans }}"
     data-datatable-page-length-value="10"
     data-datatable-columns-value="{{ [
         {data: 'fullName'},
         {data: 'username'},
         {data: 'email'},
     ]|merge(program.options is not empty ? [{data: 'optionsLabel'}] : [])|merge([
         {data: null, render: program.options is not empty ? 'memberActions' : 'remove'},
     ])|json_encode }}"
     data-datatable-language-value="{{ {
         info: 'datatableInfoLabel'|trans,
         infoEmpty: 'datatableInfoEmptyLabel'|trans,
         infoFiltered: 'datatableInfoFilteredLabel'|trans,
         zeroRecords: 'datatableZeroRecordsLabel'|trans,
         processing: 'datatableProcessingLabel'|trans,
         lengthMenu: 'datatableLengthMenuLabel'|trans,
         search: 'datatableSearchLabel'|trans,
         paginate: {
             next: 'datatablePaginateNextLabel'|trans,
             previous: 'datatablePaginatePreviousLabel'|trans,
         },
     }|json_encode }}">
    <div class="table-responsive">
        <table class="table table-vcenter card-table table-striped" data-datatable-target="table">
            <thead>
                <tr>
                    <th>{{ 'userFullNameColumnLabel'|trans }}</th>
                    <th>{{ 'userLoginColumnLabel'|trans }}</th>
                    <th>{{ 'accountEmailLabel'|trans }}</th>
                    {% if program.options is not empty %}
                        <th>{{ 'memberOptionsColumnLabel'|trans }}</th>
                    {% endif %}
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
