{% extends 'layout/app.html.twig' %}

{% block title %}{{ (isEdit ? 'editSeancePhaseTemplatePageHeading' : 'newSeancePhaseTemplatePageHeading')|trans }} - {{ seanceTemplate.titre }}{% endblock %}
{% block page_title %}{{ (isEdit ? 'editSeancePhaseTemplatePageHeading' : 'newSeancePhaseTemplatePageHeading')|trans }} - {{ seanceTemplate.titre }}{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.nom) }}</div>
                    <div class="col-md-3">{{ form_row(form.ordre) }}</div>
                    <div class="col-md-3">{{ form_row(form.duree) }}</div>
                    <div class="col-md-6">{{ form_row(form.contenu) }}</div>
                    <div class="col-md-6">{{ form_row(form.objectifs) }}</div>
                    <div class="col-md-6">{{ form_row(form.enseignant) }}</div>
                    <div class="col-md-6">{{ form_row(form.etudiant) }}</div>
                    <div class="col-md-6">{{ form_row(form.moyensSupports) }}</div>
                    <div class="col-md-6">{{ form_row(form.difficultes) }}</div>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="{{ isEdit ? path('app_library_phases_show', {sequenceId: sequenceTemplate.id, seanceId: seanceTemplate.id, id: form.vars.data.id}) : path('app_library_seances_show', {sequenceId: sequenceTemplate.id, id: seanceTemplate.id}) }}" class="btn btn-link">{{ 'cancelAction'|trans }}</a>
                    {{ form_widget(form.submit) }}
                </div>
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
